// $theme-colors: (
//   "primary":    #2AFADF,
//   "body" :  #3bdcc9ea
// ) ;




$primary:    #2AFADF;

$border-radius : 1rem;
$spacer: 1.5rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

